extends layout

block content
  h1= title
  - let bookid = toShow._id
  - let booktitle = toShow.title
  - let author = toShow.author
  - let isbn = toShow.isbn
  - let pages = toShow.pages
  - let price = toShow.price
  - let genre = toShow.genre
  
  div.row
    div(class='bookAttr mr-3') Book ID is:
    div #{bookid}
  div.row
    div(class='bookAttr mr-3') Title is:
    div #{booktitle}
  div.row
    div(class='bookAttr mr-3') Author is:
    div #{author}
  div.row
    div(class='bookAttr mr-3') ISBN is:
    div #{isbn}
  div.row
    div(class='bookAttr mr-3') Pages is:
    div #{pages}
  div.row
    div(class='bookAttr mr-3') Price is:
    div #{price}
  div.row
    div(class='bookAttr mr-3') Genre is:
    div #{genre}

  block control
